.gradle/
/build/
#*/build/
#tools/*/build/
/buildSrc/build/
/web/build/

.idea/
/bin/
.classpath
.project
.settings/
/eclipse-build/
out/
*.iml
logs/
.RData
.Rhistory

# Test model files generated during IT
*X99*.RData 
